@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

.head-font{
    font-family: 'Bebas Neue', cursive;
}
.base-font{
    font-family: 'Roboto', sans-serif;
}

.primary-color{
    color: #363958;
}
.primary-back{
    background-color: #363958;
}
.head-color{
    color: #FABE4C;
}
.button-color{
    background-image: linear-gradient(180deg,#A4BC46, #85A019);
}
.bac-car{
    background-color: #F1F1F1;
}